# Python standard
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.env

# Virtual environment
venv/
.venv/

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo

# Operating system files
.DS_Store
Thumbs.db
desktop.ini

#static files
static/
/static/

/results/

# output files
*out
